.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 16px;
  max-width: 411px;
  background: #f0f0f0;
  border-radius: 12px;
  position: relative;
}

.job-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.job {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
}

.jobInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.job-header {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.recent-job {
  background: #28d979;
}

.date-exp {
  font-weight: bold;
  width: max-content;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 124px;
}

.roleName {
  margin: 0;
  width: 100px;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
}

.featuredPointsContainer {
  flex: 1;
}

.featuredPoints {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.tag-exp {
  display: flex;
  padding: 2px 0;
  width: 61px;
  height: 16px;
  background: rgba(126, 115, 18, 0.4);
  border-radius: 59px;
}

.most-recent {
  margin: 0 auto;
  font-weight: 500;
  font-size: 8px;
  line-height: 155%;
  color: #ddf163;
}
