* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

li {
  margin: 0;
}

h2 {
  margin: 0;
}

* a {
  text-decoration: none;
  color: inherit;
  color: #f0f0f0;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 8px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.wrapper {
  max-width: 555px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tools-item {
  margin-bottom: 10px;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.download-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #45a049;
}
