.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.toolsBox {
  width: 124px;
  background: #f0f0f0;
  border-radius: 12px;
  position: relative;
  padding: 12px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 6px;
  gap: 10px;
  background: #000000;
  border-radius: 59px;
  position: absolute;
  width: 30px;
  height: 11px;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tag-text {
  width: 18px;
  height: 7px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 5px;
  line-height: 142%;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

.design,
.no-code,
.ai {
  width: 76px;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px 4px;
  position: relative;
  justify-content: space-evenly;
}

.design .tag {
  background: #000000;
}

.no-code .tag {
  background: #000000;
}

.ai .tag {
  background: #000000;
}

.design-icon,
.no-code-icon,
.ai-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
